.idea
notebooks/.idea
notebooks/.ipynb_checkpoints
notebooks/.DS_Store
.DS_Store
notebooks/mypackage/__pycache__
notebooks/features_0_01
notebooks/features_0_1
.pyc
notebooks/fs/.ipynb_checkpoints
notebooks/fs/__pycache__
*.pyc
notebooks/features_0_1
notebooks/features_0_01
notebooks/test
