.idea
notebooks/.idea
notebooks/.ipynb_checkpoints
notebooks/.DS_Store
.DS_Store
notebooks/mypackage/__pycache__
notebooks/results
.pyc
notebooks/fs/.ipynb_checkpoints/methods-checkpoint.py
notebooks/fs/__pycache__/methods.cpython-38.pyc
notebooks/fs/__pycache__/methods.cpython-39.pyc
